<!DOCTYPE html>
<head>
    <title>
        Cinephilio
    </title>
    <script>
        window.onload = function () {
            setTimeout(() => {
                window.location.href = "https://cinephilio-app.herokuapp.com/";
            },3000)
        }
    </script>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <!-- Do something with the message -->
                <h3>
                    {{ message }}
                </h3>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>